.flip {
    transition: transform 0.5s;
  }
  
  
  
  .images {
    margin: 5px;
    position: relative;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
    box-shadow: 1px 1px 1px rgba(0,0,0,.3);
  }
  
  .images:active {
    transform: scaleX(0.97);
    transition: transform .2s;
  }
  
  .images.flip {
    transform: rotateY(90deg);
  }