* {
    margin: 0;
    font-family: 'Hind', sans-serif;
}


header {
    background-color: #597081;
    padding: 30px;
}

nav {
    display: flex;
  
    
}

nav a {
    margin-left: 10px;
    margin-right: 10px;
    flex-direction:row;
    align-items: center;
    padding: 5px;
}

nav :hover{
    color: rgb(75, 160, 173);
    box-shadow: #000000  3px 1px ;
    border: solid #000000;
}

a {
    text-decoration: none;
    font-size:large;
    color: white;

}

body {
    background-color: #7EA0B7; 
    
}



h1 {
    text-align: center;
    padding: 15px;
}

.boutton{
    margin: auto;
    margin-left: 100px;
    margin-top: 100px;
    position: absolute;
    width: 150px;
    height: 50px;
    border-radius: 7px;
    background-color: green;
    
}


table{
    justify-content: center;
    display: flex;
    margin:auto;
    padding: 50px;  
}

th, td , button{ 
    margin-bottom: 15px;
    border: 1px solid #7EA0B7; 
    border-radius: 7px;
    align-items: center;
    
}
button {
    width: 200px;
    height: 200px;
    padding: 0px;
    border-radius: 9px;
    background-color: #7EA0B7;
}

td{
    width: 200px;
    height: 200px;
}

img{
    border-radius: 7px;
    
}


footer{
    background-color: #597081;
    padding: 50px;
    align-content: flex-start;
}


